/* 1. BASE STYLES */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --dark-bg: #1f2937;
  --light-text: #F9FAF8;
  --muted-text: #E5E7EB;
  --primary-blue: #3882F6;
  --light-bg: #E5E7EB;
}


/* =====================
   LAYOUT UTILITIES
===================== */

body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.6;
}


.container {
  max-width: 1100px;        
  margin: 0 auto;           
  padding: 0 2rem;          
}


a {
    color: #E5E7EB;
    font-size: 18px;
    text-decoration: none;
}

p {
    margin-top: 5px;
}

/* =====================
   TYPOGRAPHY
===================== */

h1 {
    margin: 0;
    font-size: 48px;
    font-weight: 900;
    color: var(--light-text)
}

h2 {
    font-size: 36px;
    font-weight: 900;
    color: var(--dark-bg);
    text-align: center;
}

h3 {
    color: var(--light-text)
}


/* =====================
   BUTTONS
===================== */

button {
    border-radius: 6px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    padding: 0.5rem 1.5rem;
    width: auto;
}

.button-cta-primary {
  background-color: var(--primary-blue);
  color: var(--light-text);
}

.button-cta-secondary {
  background-color: transparent;
  border: 2px solid var(--light-text);
  color: var(--light-text);
}



/* =====================
   STYLING HEADER
===================== */
.header {
    align-items: center;
    justify-content: space-between;
    padding-bottom: 50px;
    background-color: #1f2937;
}

.header .container {
    display: flex;
    justify-content: space-between;

}

.links {
    display: flex;
    list-style-type: none;
    gap: 12px;
}

/* =====================
   STYLING HERO SECTION
===================== */
.hero-section {
    justify-content: space-between;
    align-items: center;
    gap: 25px;
    padding-bottom: 120px;
    background-color: #1f2937
}

.hero-section .container {
    display: flex;
    justify-content: space-between;
}

.content-block {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    max-width: 400px;
}

.hero-content {
    color: #E5E7EB;
    font-size: 18px;
}

/* =====================
   STYLING INFO SECTION
===================== */
.info-section {

    padding-bottom: 100px;
    flex-direction: column;
    align-items: center;
    display: flex;
    text-align: center;
}

.info-section .container {
    display: flex;
    flex-direction: column;
}

.inspiration-block .inspiration-cart {
    text-align: center;
}

.info-section .inspiration-block .inspiration-cart img {
    width: 200px; 
    height: 200px;
    border-radius: 4px;
}

.info-section .inspiration-block .inspiration-cart p {
    max-width: 200px;
}

.info-section .inspiration-block {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
    text-align: center;
}

/* =====================
   STYLING TESTIMONIAL SECNTION
===================== */
.testimonial-section {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 6rem 0;
}

.testimonial-section .container-test {
    max-width: 900px;
}

.testimonial-section .container-test quoteblock {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color: #1F2937;
}

.testimonial-section .container-test p {
    font-size: 18px;
    font-weight: 900;
    color: #1F2937;
    text-align: right;
}

/* =====================
   STYLING BANNER
===================== */
.cta-banner {
    background-color: #3882F6;
    border-radius: 6px;
    margin: 80px 0;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 2rem 3rem
}

.cta-content {
    display: flex;
    flex-direction: column;
}

.cta-content h3 {
    margin-bottom: 0px;
}

.cta-content p {
   color: #F9FAF8;
}

.button-container {
    display: flex;
    justify-content: center;
    width: auto;
}


/* =====================
   STYLING FOOTER
===================== */
footer {
    background-color: #1f2937;
    display: flex;
    padding: 20px 0;
}

footer p {
    color: #F9FAF8;
}


